html,
body,
#root {
    height: 100%;
    min-width: 100%;
    margin: 0;
}
.wrapper,
.ant-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}
.footer {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
}
@media (max-width: 880px) {
    .wrapper,
    .ant-layout {
        width: 100vw;
    }
    .footer {
        flex-direction: column;
        gap: 10px;
    }
    .ant-layout-sider {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 100;
    }
}
